<div class="container">
  <img class="mb-5 mt-5" src="https://jar.designpickle.com/assets/layout/fresh-stock-logo-0ebaaed306053aea4096e0bd6ad548b1221f456a25b2c502d67b7bfaf4d381a3.svg">

  <div class="title">Design Pickle matching 
    <span class="high-lighted">game</span>
  </div>

  <div class="card-wrapper">
    <div class="card-wrapper-row">
      <div class="card-container">
        <img class="card-image" data-position="0" src="https://cdn.filestackcontent.com/mac0VBHdShaBLwOxpq66">
      </div>
      <div class="card-container">
        <img class="card-image" data-position="1" src="https://cdn.filestackcontent.com/mac0VBHdShaBLwOxpq66">
      </div>
    </div>
    <div class="card-wrapper-row">
      <div class="card-container">
        <img class="card-image" data-position="2" src="https://cdn.filestackcontent.com/mac0VBHdShaBLwOxpq66">
      </div>
      <div class="card-container">
        <img class="card-image" data-position="3" src="https://cdn.filestackcontent.com/mac0VBHdShaBLwOxpq66">
      </div>
    </div>
  </div>

</div>


      <%# <div class="card-container">
        <img class="card-image" src="https://cdn.filestackcontent.com/mac0VBHdShaBLwOxpq66">
      </div> %>
<%= javascript_pack_tag 'main' %>