<div class="container">
  <img class="mb-5 mt-5" src="https://jar.designpickle.com/assets/layout/fresh-stock-logo-0ebaaed306053aea4096e0bd6ad548b1221f456a25b2c502d67b7bfaf4d381a3.svg">

  <div class="title">Design Pickle matching 
    <span class="high-lighted">game</span>
  </div>

  <div class="card-wrapper">
    
  </div>
  <div class="result">
    
  </div>
</div>

<%= javascript_pack_tag 'main' %>